<div class="search__form">
  <input
    type="text"
    class="search__form__input"
    [placeholder]="'common.searchBarCity.placeholder' | translate"
    [(ngModel)]="choiceCity"
    (ngModelChange)="getCity($event)" />
  <div class="search__form__box-address" *ngIf="cities && cities.length > 0">
    <ng-container *ngFor="let city of cities">
      <div
        (click)="getChoiceCity(city)"
        (keyup)="getChoiceCity(city)"
        [attr.aria-disabled]="true">
        {{ city.properties.name }}
      </div>
    </ng-container>
  </div>
</div>
