<div class="login-tunnel">
    <h2>Inscription/Connexion</h2>
    <span>
        en vous inscrivant vous aurez acces a des options comme l'ajout de
        favoris et des info sur les stations
    </span>
    <div
        *ngIf="!inscription && !connexion"
        class="dca-button form-login__button"
    >
        inscription
    </div>
    <ng-container *ngIf="inscription">
        <dca-auth-inscription></dca-auth-inscription>
    </ng-container>
    <div
        *ngIf="!inscription && !connexion"
        class="dca-button form-login__button"
    >
        connexion
    </div>
    <ng-container *ngIf="connexion">
        <dca-auth-connexion></dca-auth-connexion>
    </ng-container>
</div>
