.login-tunnel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 2rem;
    padding: 1rem;
    border: var(--border-radius);
}
