<div class="inscription">
  <form #form="ngForm" class="inscription__form" (ngSubmit)="createUser()">
    <dca-input
      type="email"
      email
      [required]="true"
      [placeholder]="'user.attributes.email' | translate"
      [(ngModel)]="user.email"
      name="email"
    />
    <dca-input
      type="password"
      [required]="true"
      [placeholder]="'user.attributes.password' | translate"
      [pattern]="RegexPassword"
      [(ngModel)]="user.plainPassword"
      name="password"
      (ngModelChange)="checkPassword($event)"
    />

    <div class="password_spec">
      <span>
        {{ "user.errors.password.0" | translate }}
      </span>
      <span>
        {{ "user.errors.password.1" | translate }}
      </span>
      <span>
        {{ "user.errors.password.2" | translate }}
      </span>
      <span>
        {{ "user.errors.password.3" | translate }}
      </span>
      <span>
        {{ "user.errors.password.4" | translate }}
      </span>
    </div>
    <p-progressBar
      [styleClass]="passwordBarClass"
      [value]="barValue"
      [showValue]="false"
    ></p-progressBar>

    <dca-input
      type="password"
      [required]="true"
      [disabled]="!toggleConfirmpassword"
      [placeholder]="'user.attributes.confirmPassword' | translate"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      appPassword
      [password]="user.plainPassword"
    />

    <dca-button
      type="submit"
      [disabled]="form.invalid"
      textButton="common.validate"
    >
    </dca-button>
  </form>

  <a routerLink="/auth">{{ "common.back" | translate | titlecase }}</a>
</div>
