:host {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--gray-050);
  align-items: center;
}

.inscription {
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  padding: 3rem;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  dca-back-home {
    //padding-top: 4.5rem;
  }

  dca-input {
    //padding: 2rem;
  }

  dca-button[type="submit"] {
    //padding: 3rem 10rem;
  }

  p-progressBar,
  .password_spec {
    padding: 0 2rem;
  }

  h1 {
    padding-bottom: 2rem;
  }

  #back {
    display: flex;
    margin-top: 2rem;
    padding: 0 3rem;
  }
}
