<div class="bar">
  <div class="bar__left">
    <div class="map-button-header">
      <div (click)="choiceMap()">cartes</div>
    </div>
    <div class="service-header">
      <div (click)="getService()" (keydown.alt.s)="getService()" tabindex="0">
        services
      </div>
      <div *ngIf="showServices" class="service-header__serviceOption">
        <dca-search-form
          placeholder="common.service"
          [items]="services"
          field="name"></dca-search-form>
      </div>
    </div>
  </div>
  <div class="bar__right">
    <div class="bar__right__maj-date">
      maj: {{ dateMaj.majDate | date: 'dd-MM-YYYY' }}
    </div>
    <div class="bar__right__button">
      <a [routerLink]="['/', 'home', 'contact']"> Info/Contact </a>
    </div>
    <div
      class="bar__right__button"
      (click)="toLogin()"
      (keydown.alt.c)="getService()"
      tabindex="1">
      {{ 'common.compte' | translate | titlecase }}
    </div>
  </div>
</div>
