:host {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;

  .bar {
    background-color: white;
    box-shadow: 0px 0px 5px 3px #656565;
    display: flex;
    width: 100%;
    height: 54%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0.5em 1em;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    &__left,
    &__right {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    &__left {
      &__hit {
        display: flex;
        align-items: center;
      }
      .map-button-header {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        &__mapOption {
          dca-small-map {
            padding: 1rem;
            background-color: white;
            border-radius: 28px;
          }

          dca-small-map:hover {
            background-color: #e7a016;
          }
          position: absolute;
          background-color: transparent;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          top: 10vh;
          z-index: 9999;
          @media (max-width: 992px) {
            top: 50vh;
            flex-direction: row;
            background-color: transparent;
            padding: 2rem;
          }
        }
      }
      .service-header {
        display: flex;
        position: relative;

        cursor: pointer;
        display: flex;
        flex-direction: row;
        &__serviceOption {
          position: fixed;
          top: 33%;
          display: flex;
          flex-direction: column;
          z-index: 999;
          gap: 2rem;
          width: 100%;
          left: 0;
          justify-content: center;
          align-items: center;

          &__service {
            width: 100%;
            background-color: red;
          }
        }
      }
    }

    &__right {
      &__maj-date {
        @media (max-width: 967px) {
          display: none;
        }
      }
      &__button {
        cursor: pointer;
      }
    }
  }
}
