:host {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--gray-050);
  align-items: center;
}
.auth-connexion {
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  padding: 3rem;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

dca-button {
  padding: 2rem;
}

dca-input {
  width: 45rem;
  padding-bottom: 2rem;
}

dca-button[type="submit"] {
  padding: 3rem 10rem;
}
