<div class="auth-connexion">
  <h2>{{ "common.login" | translate | titlecase }}</h2>

  <form #form="ngForm" (ngSubmit)="loginUser()">
    <dca-input
      name="login"
      type="text"
      [required]="true"
      placeholder="login"
      name="login"
      [(ngModel)]="user.email"
      [formSubmitted]="form?.submitted"
    ></dca-input>

    <dca-input
      name="password"
      [required]="true"
      type="password"
      placeholder="password"
      [(ngModel)]="user.plainPassword"
      [formSubmitted]="form?.submitted"
    ></dca-input>

    <dca-button
      type="submit"
      [disabled]="form.invalid"
      textButton="common.validate"
    >
    </dca-button>
  </form>

  <a routerLink="/auth">{{ "common.back" | translate | titlecase }}</a>
</div>
