<div
  aria-hidden="true"
  class="login"
  (click)="closeLogin()"
  (keyup)="onKeyup()">
  <div class="login__box" (click)="stopLogin($event)">
    <div class="login__box__logo">
      <img src="assets/img/LOGO-FUEL-WAY.webp" alt="LOGO-FUEL-WAY" />
    </div>
    <div *ngIf="views === 'signup'; else loginBlock">inscription</div>
    <ng-template #loginBlock>connexion</ng-template>
    <form #form="ngForm" class="login__box__form" (ngSubmit)="onSubmit(form)">
      <input
        *ngIf="views === 'signup'"
        name="email"
        [required]="views === 'signup'"
        placeholder="email"
        [(ngModel)]="user.email" />
      <input
        name="pseudo"
        required="true"
        placeholder="pseudo"
        [(ngModel)]="user.pseudo" />
      <input
        name="plainPassword"
        required="true"
        placeholder="mot de passe"
        [(ngModel)]="user.plainPassword" />
      <input
        *ngIf="views === 'signup'"
        name="checkPassword"
        [required]="views === 'signup'"
        placeholder="confirmer mot de passe"
        [(ngModel)]="checkPassword" />

      <button class="dca-button" *ngIf="form.dirty" [disabled]="form.invalid">
        valider
      </button>
    </form>
    <div
      class="login__box__button__choice"
      (click)="changeView($event)"
      *ngIf="views === 'signup'; else loginSignUp">
      connexion
    </div>
    <ng-template #loginSignUp>
      <div class="login__box__button__choice" (click)="changeView($event)">
        inscription
      </div>
    </ng-template>
    <div class="login__box__button__choice" (click)="closeLogin()">fermer</div>
  </div>
</div>
