.login {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  align-items: center;

  &__box {
    opacity: 1;
    background-color: var(--gray-400);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 464px;
    min-width: 290px;
    &__button__choice {
      cursor: pointer;
      color: white;
      background-color: #e7a016;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      input {
        padding: 1.25rem;
        background-color: black;
        color: white;
        font-size: 1rem;
      }
      input::placeholder {
        font-weight: bold;
        color: white;
      }
      button {
        display: flex;
        margin: 0 5rem 0.5rem;
      }
    }
    &__logo {
      display: flex;
      justify-content: center;
    }
  }
}

.login1 {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  width: 30%;

  &__text {
    font-size: 1rem;
  }

  a {
    margin-bottom: 2rem;
  }

  .dca-button:hover {
    background-color: gray;
  }
  .group__button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border: 1px solid black;
    .dca-button {
      &-login {
        grid-column-start: 2;
      }
      &-inscription {
        grid-column-start: 1;
      }
    }
  }
}
