<div class="search__form">
  <input
    type="text"
    class="search__form__input"
    [placeholder]="'common.searchBar.placeholder' | translate"
    [(ngModel)]="choiceAddress"
    (ngModelChange)="getAddress($event)"
  />
  <div
    class="search__form__box-address"
    *ngIf="listAddress && listAddress.length > 0"
  >
    <ng-container *ngFor="let address of listAddress">
      <div
        (click)="getChoiceAddress(address)"
        (keyup)="getChoiceAddress(address)"
        [attr.aria-disabled]="true"
      >
        {{ address.properties.label }}
      </div>
    </ng-container>
  </div>
</div>
