.search__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    position: relative;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 28px;
  }

  &__box-address {
    position: fixed;
    top: 25%;
    background-color: var(--gray-050);
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    gap: 1.5rem;
    padding: 1rem 1rem;
    z-index: 999;
  }
}
