<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let element of options">
            <dca-icon-station [station]="element"></dca-icon-station>
        </div>
    </div>
</div>
s
