<div class="navbar flex justify-content-between p-2">
    <div>{{ 'homepage.nav.box1' | translate }}</div>
    <div>{{ 'homepage.nav.box2' | translate }}</div>
    <div>{{ 'homepage.nav.box3' | translate }}</div>
    <div>{{ 'homepage.nav.box4' | translate }}</div>
    <p-dropdown
        [options]="countries"
        [(ngModel)]="selectedCountry"
        (ngModelChange)="changeCountry($event)"
        optionLabel="code"
    >
    </p-dropdown>
</div>
