<div class="average-fuel">
  <span>information Prix</span>
  <p>top</p>
  {{ stats.minPrice | currency: 'EURO' : 'symbol' : '1.2-3' }}
  <p>moyenne</p>
  {{ stats.avgPrice | currency: 'EURO' : 'symbol' : '1.2-3' }}
  <p>flop</p>
  {{ stats.maxPrice | currency: 'EURO' : 'symbol' : '1.2-3' }}
</div>
