.average-fuel {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-transform: capitalize;
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 3px #656565;
  border-radius: 24px;
  background-color: #e5e5e5;
  @media (max-width: 992px) {
  }
}
