.boxMap {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    border: 1px solid black;
    border-radius: 28px;
    padding: 4px 1rem;
    border-radius: 28px;
    font-size: 0.85rem;
    background-color: white;
  }
}
