<div class="contact">
  <div class="contact__close">
    <a [routerLink]="['/', 'home']"> X fermer </a>
  </div>
  <h1>fuel Away</h1>
  <section>
    <h2>pourquoi ce site,</h2>
    <p>
      Parce que je trouve le sujet interessant et qu'il touche à notre tirelire.
    </p>
  </section>
  <section>
    <p>
      les informations concernant le prix de l'essence proviennent de site
      officiel comme
    </p>
    <a href="https://www.prix-carburants.gouv.fr/rubrique/opendata">
      prix des carburants
    </a>
  </section>

  <section class="contact__info">
    <h2>fonctionnalités</h2>
    <ul>
      les fonctionnalités presentes:

      <li>géolocalisation</li>
      <li>géolocalisation des stations</li>
      <li>les services associées aux stations</li>
    </ul>
    d'autres fonctionalités sont en cours, comme la fonctionnalité contact
  </section>
  <section>
    <h2>Aider moi à répondre à cette question</h2>
    Pourquoi ce fichier gouvernemental des prix de l'essence est il anonymisé ?
    Quels sont les commerces de vente aux particuliers qui souhaitent etre
    anonymes ?
  </section>
</div>
