.contact {
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: end;
    width: 50%;
    cursor: pointer;
  }
  &__info {
    ul {
      li {
        list-style-type: none;
      }
    }
  }

  a {
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  a:hover {
    font-size: 2rem;
  }

  section:nth-last-of-type(3) {
    position: relative;
    padding-bottom: 2rem;
    a {
      position: absolute;
      bottom: 0.5rem;
      transform: translateX(-50%);
    }
  }
}
