.password {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dca-input-disabled {
  cursor: not-allowed;
  input {
    cursor: not-allowed;
  }
  border: 1px solid red;
}

.dca-input {
  cursor: pointer;
  input {
    cursor: pointer;
  }
}

.dca-input,
.dca-input-disabled {
  box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
  border-radius: 28px;
  padding: 1rem 1rem;
  display: flex;
  width: 100%;
  align-items: center;

  input {
    border: 1px solid transparent;
    text-align: center;
    font-size: 1rem;
    outline: none;
    flex-grow: 3;
  }

  input::placeholder {
    opacity: 0.5;
    font-size: 1.5rem;
    margin: 1rem;
  }
}
.error {
  border: 1px solid red;
  &__item {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-red-error);
  }
}
