<div [ngSwitch]="type">
    <div *ngSwitchCase="'text'" class="dca-input">
        <input
            [id]="id"
            [name]="name"
            [required]="required"
            [placeholder]="placeholder"
            [type]="type"
            [(ngModel)]="value"
            (blur)="onTouch()"
            (ngModelChange)="change(value)"
        />
    </div>
    <div
        *ngSwitchCase="'email'"
        class="dca-input"
        [ngClass]="{
            error: (control?.invalid && control?.touched) || errors
        }"
    >
        <input
            [id]="id"
            [name]="name"
            [required]="required"
            [placeholder]="placeholder"
            [type]="type"
            [disabled]="disabled"
            [(ngModel)]="value"
            (blur)="onTouch()"
            (ngModelChange)="change(value)"
        />
    </div>
    <div
        *ngSwitchCase="'password'"
        class="dca-input"
        [ngClass]="{
            error: (control?.invalid && control?.touched) || errors
        }"
    >
        <input
            [id]="id"
            [name]="name"
            [required]="required"
            [placeholder]="placeholder"
            [type]="typeTempPassword"
            [disabled]="disabled"
            [(ngModel)]="value"
            (blur)="onTouch()"
            (ngModelChange)="change(value)"
        />
        <i [class]="eyeIcon" (click)="switchTypePassword()"></i>
    </div>
    <div *ngSwitchDefault></div>
</div>
