.station {
  background-color: white;
  color: black;
  padding: 0 2em;
  height: 100%;
  width: 5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  text-align: center;
  &__address {
    font-size: 0.5em;
  }
  &__city {
    display: flex;
  }
}
