:host {
  display: flex;
}
.icon-station {
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
  background-color: white;
  font-size: 1.2rem;

  &__price {
    grid-template-columns: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    &__fuel {
      font-size: 1rem;
      font-weight: bolder;
    }
    &__date {
      font-size: 0.7rem;
    }
  }
}
