.switch {
  position: relative;
  display: inline-block;
  user-select: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.switch-slider:before {
  position: absolute;
  content: "";
  top: 50%;
}
