<div class="app">
  <router-outlet></router-outlet>
</div>
<dca-spinner></dca-spinner>
<dca-message></dca-message>
<div class="app__stop">
  <div class="app__stop__text">
    <h1>votre ecran n'est pas supporté par notre site web</h1>
  </div>
  <img src="assets/carColl.svg" alt="car" />
</div>
