:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  flex-grow: 2;
  max-width: 1400px;
  max-height: 90vh;
  @media (max-width: 374px) {
    display: none;
  }
  &__stop {
    position: fixed;
    top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    @media (min-width: 374px) {
      display: none;
    }

    img {
      height: 6rem;
    }
  }
}
