.fuelInfo {
    &__icone {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        background-color: white;
        border-radius: 18px;
        padding: 0.5rem;
        font-size: xx-large;
    }
}
