<div class="small-map">
  <div class="small-map__line">
    {{ title }}
  </div>
  <div
    [id]="id"
    class="small-map__map"
    [style.height]="height"
    [style.width]="width"
    url="url"></div>
</div>
