<form #sliderForm="ngForm" class="slider-group slider-group__init">
  <div *ngFor="let fuel of fuels" class="slider-group__row">
    <div
      class="slider-group__row__text"
      *ngIf="checked === state || (checked && checked === fuel.short_name)">
      {{ fuel.short_name }}
    </div>
    <p-inputSwitch
      *ngIf="checked === state || (checked && checked === fuel.short_name)"
      class="dca-switch"
      name="fuel"
      [ariaLabel]="fuel.short_name"
      [trueValue]="fuel.short_name"
      [(ngModel)]="checked"
      (onChange)="getStationByFuel(fuel.short_name)"></p-inputSwitch>
  </div>
</form>
