.slider-group {
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 3px #656565;
  background-color: white;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__text {
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
