<button [type]="type" [disabled]="disabled">
  <i *ngIf="iconPosition === 'left'" [class]="iconName"></i>
  {{ textButton | translate | titlecase }}
  <i *ngIf="iconPosition === 'right'" [class]="iconName"></i>
</button>
