:host {
  width: 100%;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
  border-radius: 28px;
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  gap: 2rem;
  height: 100%;
  align-items: center;
}

button:enabled {
  color: black;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-050);
  //color: red;
}
