<swiper-container
    slides-per-view="4"
    space-between="15"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="true"
>
    <swiper-slide
        class="hit__slider__price"
        *ngFor="let one of options"
        appFlymap
        [id]="one.stationId"
    >
        <div class="hit__slider__price__title">
            {{ one.fuel.shortName }}
        </div>
        <div class="hit__slider__price__value">
            {{ one.valueUpdate }}
        </div>
    </swiper-slide>
</swiper-container>
