<div class="home">
  <div class="home__header">
    <img src="assets/img/LOGO-FUEL-WAY.webp" alt="LOGO-FUEL-WAY" />

    <dca-header-bar
      (auth)="goToAuth()"
      (hideMaps)="toggleSmallMaps = $event"></dca-header-bar>
  </div>
  <div class="home__dashboard">
    <div class="home__dashboard__selector">
      <dca-slider-group #mySliderGroup [fuels]="typeFuels"></dca-slider-group>
    </div>

    <dca-map
      (auth)="goToAuth()"
      class="home__dashboard__mapInfo"
      [smallMaps]="toggleSmallMaps"></dca-map>
  </div>
</div>
<dca-login *ngIf="toggleAuth" (closeWindow)="goToAuth()"></dca-login>
