.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  &__header {
    @media (max-width: 476px) {
      display: none;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    img {
      width: 11rem;
    }
    dca-header-bar {
      height: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__dashboard {
    position: relative;
    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    &__selector {
      @media (max-width: 992px) {
        position: absolute;
        z-index: 9999;
        min-width: 10rem;
        margin: 2rem;
      }

      padding: 1rem;
      width: 15%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__search {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }
    }
    &__mapInfo {
      display: flex;

      flex-grow: 1;
      height: 95vh;
      border-radius: 28px;
      @media (min-width: 476px) {
        padding: 1rem;
        height: 86vh;
      }
    }
    &__info__group-button {
      display: none;
      flex-direction: row;
      gap: 2rem;
      @media (max-width: 992px) {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        dca-button {
          grid-column: span 1;
        }
      }
      @media (max-width: 768px) {
        display: none;
        flex-direction: column;
      }
    }
    dca-map {
      @media (max-width: 476px) {
        width: 100%;
      }
    }
  }
}
