.start {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 999;
  font-size: 1rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: var(--border-radius);
}
