:host {
  display: inline-flex;
}
.icon {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  background-color: white;
  border: 4px solid transparent;
  &__price {
    grid-template-columns: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    &__fuel {
      font-size: 1rem;
      font-weight: bolder;
    }
    &__date {
      font-size: 0.7rem;
    }
  }
}
