<div class="icon">
  <ng-container *ngIf="prices.length > 0">
    <div *ngFor="let price of prices" class="icon__price">
      <span>
        {{ price.fuel.shortName }}
      </span>
      <span class="icon__price__fuel">
        {{ price.valueUpdate }}
      </span>
      <span class="icon__price__date">
        {{ price.majDate | date: 'dd/MM' }}
      </span>
    </div>
  </ng-container>
</div>
