/* You can add global styles to this file, and also import other style files */
@use "scss/root";

@use "scss/design";

@use "scss/shared/fontawesome";

body {
  font-family: var(--font-Audiowide);
  font-weight: 400;
  margin: 1rem;

  a {
    text-decoration: none;
    color: black;
  }
}
