<div class="select">
    <div>mise a jour</div>
    <div>rayon de recherche</div>
    <div class="select__option">
        <div
            class="select__option__button"
            [ngClass]="{ select__option__button__selected: toggleDistance }"
            (click)="search('')"
        >
            km
        </div>
        <div
            class="select__option__button"
            [ngClass]="{ select__option__button__selected: toggleTime }"
            (click)="search('time')"
        >
            temps
        </div>
    </div>
    <div *ngIf="toggleDistance" class="select__value">
        <div class="select__value__info">
            <div>rayon de recherche</div>
            <div>{{ isochrone.maxDistance }} {{ isochrone.distanceUnit }}</div>
            <input
                id="rangeDistance"
                name="rangeDistance"
                type="range"
                [(ngModel)]="isochrone.maxDistance"
                max="60"
                min="0"
                step="1"
            />
        </div>
        <div
            *ngIf="isochrone.maxDistance"
            class="dca-button"
            (click)="getZone('noTime')"
        >
            valider
        </div>
    </div>
    <div *ngIf="toggleTime" class="select__value">
        <div class="select__value__info">
            <div>rayon de recherche</div>
            <div>{{ isochrone.maxTime }} {{ isochrone.timeUnit }}</div>
            <input
                id="rangeTime"
                name="rangeTime"
                type="range"
                [(ngModel)]="isochrone.maxTime"
                max="60"
                min="0"
                step="1"
            />
        </div>
        <div
            *ngIf="isochrone.maxTime"
            class="dca-button"
            (click)="getZone('noDistance')"
        >
            valider
        </div>
    </div>
    <div></div>
</div>
