.select {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__option {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        &__button {
            padding: 0 1em;
            border: 1px solid transparent;
            cursor: pointer;
        }
        &__button:hover,
        &__button__selected {
            padding: 0 1em;
            border: 1px solid var(--black);
            border-radius: var(--border-radius);
            background-color: green;
        }
    }

    &__value {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 1em 0;
        &__info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}
