body {
  //background-color: #e5e5e5;
  background-color: var(--background-color-web);
  font-family: var(--font-Audiowide);
  color: black;
  .dca {
    &-title {
      font-size: 2em;
      text-align: center;
    }
    &_centerWindows {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var(--gray-050);
      align-items: center;
    }
    &-content {
      display: flex;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      justify-content: center;
    }
    &-button {
      display: flex;
      padding: 1rem 2rem;
      border-radius: 1rem;
      justify-content: center;
      font-size: large;
      text-align: center;
      box-shadow: 0px 1em 1em rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      color: black;
    }
    &-auto-complete {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      outline: none;
      font-size: 2rem;

      .p-autocomplete-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }

      .p-inputtext {
        font-size: 1.5rem;
      }

      .p-inputtext:enabled:focus,
      .p-inputtext:enabled:hover {
        border: none;
        outline: none;
        box-shadow: none;
      }
      input {
        margin: auto;
        text-align: center;
        border: none;
        outline: none;
      }
    }
    &-auto-complete_sav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .p-autocomplete-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }

      .p-inputtext:enabled:focus,
      .p-inputtext:enabled:hover {
        box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
        border-radius: 28px;
      }

      input {
        margin: auto;
        text-align: center;
        border: 1px solid black;
        box-shadow: 15px 15px 15px rgba(0, 0, 0);
        border-radius: 28px;
      }
    }
    &-border {
      box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
      border-radius: 28px;
      &-top {
        box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
      }
      &-bottom {
        box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
      }
    }

    &-button-v1 {
      border: none;

      button {
        border: none;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        width: 100%;
        box-shadow: 8px 8px 15px rgba(51, 51, 51, 0.25);
        border-radius: 28px;
      }
    }

    &-bar,
    &-bar-ok,
    &-bar-middle {
      &.p-progressbar {
        height: 10px;
        background-color: transparent;
        border: 1px solid var(--color-blue-main);
        border-radius: 30px;
      }

      .p-progressbar-value {
        background-color: var(--red-500);
      }
    }

    &-bar {
      .p-progressbar-value {
        background-color: var(--red-500);
      }

      &-middle {
        .p-progressbar-value {
          background-color: var(--orange-500);
        }
      }

      &-ok {
        .p-progressbar-value {
          background-color: var(--green-100);
        }
      }
    }

    &-slider-group {
      display: grid;
      font-size: 1.75em;
      grid-gap: 0.5em;
      &__text {
        grid-column: 1;
        display: flex;
        justify-content: center;
      }
      &__button {
        grid-column: 2;
      }
      padding: 1em;
    }

    &-toast {
      .p-toast-message {
        background-color: red;
        width: 97vw;
        display: flex;
        justify-content: center;
      }
      .p-toast-message-content {
      }

      .p-toast-message-text {
        font-size: 5rem;
      }

      .p-toast-summary {
      }
    }
    &-switch {
      .p-inputswitch {
        width: 4rem;
        height: 2rem;
      }

      .p-inputswitch-slider {
        background-color: black;
      }

      .p-inputswitch-checked {
        .p-inputswitch-slider {
          background-color: var(--orange-base);
        }
      }

      .p-inputswitch-checked:not(.p-disabled):hover {
        .p-inputswitch-slider {
          background-color: var(--orange-base);
        }
      }

      .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
        display: hidden;
      }

      .p-inputswitch-checked .p-inputswitch-slider::before {
        transform: translateX(2.25rem);
      }
    }
  }
}
