:root {
  /* FONTS */
  --font-inter: 'Inter', serif;
  --font-Playfair: 'Playfair Display';
  --font-Poppins: 'Poppins', serif;
  --font-Pacifico: 'Pacifico', cursive;
  --font-Righteous: 'Righteous', cursive;
  --font-Audiowide: 'Audiowide', cursive;

  /* COLORS */
  --gray-050: #f2f4f8;
  --gray-100: #e7eaef;
  --gray-200: #d6d9de;
  --gray-300: #d9d9d9;
  --gray-400: #c4c7cc;
  --gray-500: lighten(#556478, 10%);
  --gray-600: #556478;
  --gray-700: darken(#556478, 10%);
  --purple-700: #3b356b;
  --purple-600: 28, 3, 252;
  --purple-900: #1d1a36;
  --beige-300: #ffedd4;
  --beige-400: #c39d86;
  --beige-500: #e0ba86;
  --beige-600: #e9d5ce;
  --red-300: lighten(#ff0000, 20%);
  --red-400: lighten(#ff0000, 10%);
  --red-500: #ff0000;
  --red-600: darken(#ff0000, 10%);
  --green-200: #009493;
  --green-100: #5be379;
  --green-300: lighten(#56c499, 20%);
  --green-400: lighten(#56c499, 10%);
  --green-500: #56c499;
  --green-600: darken(#56c499, 10%);
  --orange-500: #e1762f;
  --orange-600: darken(#e1762f, 10%);
  --orange-base: #e3a01a;
  --black: #000;
  --white: #fff;
  --blue-100: #3ec3ff;
  --color-blue-main: #132033;
  --color-blue-main-rgb: 19, 32, 51;
  --color-blue-secondary: #131f32;
  --color-blue-secondary-light: lighten($color: #131f32, $amount: 10%);
  --color-red-error: #b71c1c;
  //--background-color: #d9d9d9;
  --background-color-web: var(--gray-300);

  /** button */
  --btn-primary: var(--blue-100);

  --border-radius: 20px;
}
