<p-carousel
    [value]="options"
    [numVisible]="3"
    [numScroll]="3"
    orientation="vertical"
>
    <ng-template let-product pTemplate="item">
        <dca-icon-station [station]="product"></dca-icon-station>
    </ng-template>
</p-carousel>
