<div
  [id]="id"
  class="map dca-border-top"
  [style.height]="height"
  [style.width]="width"></div>
<div *ngIf="toggleBoxService" class="service-box">
  <dca-box-map></dca-box-map>
</div>
<div
  class="map__top-icon"
  (click)="toLogin()"
  (keydown.alt.c)="toLogin()"
  tabindex="1">
  <span class="fa-stack fa-2x" aria-hidden="true">
    <i class="fa-solid fa-circle fa-stack-2x" style="color: white"></i>
    <i class="fas fa-user fa-stack-1x"></i>
  </span>
</div>

<div class="map__list-map" *ngIf="smallMaps" (click)="smallMaps = !smallMaps">
  <dca-small-map
    [id]="'one'"
    title="carto"
    height="8em"
    width="12rem"
    url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"></dca-small-map>
  <dca-small-map
    [id]="'two'"
    title="openstreet"
    height="8em"
    width="12rem"
    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></dca-small-map>
</div>
<div
  class="map__mean"
  *ngIf="stat && stat.numberResult > 0 && checkIsNumber(stat.avgPrice)">
  <dca-average-fuel [stats]="stat"></dca-average-fuel>
</div>
<div class="map__localization">
  <div *ngIf="!toogleSearchAddress; else searchAddressForm">
    <dca-search-form-city class="map__localization__bar">
    </dca-search-form-city>
    <div class="map__localization__button" (click)="showSearchAddress()">
      recherche par adresse
    </div>
  </div>
  <ng-template #searchAddressForm>
    <div>
      <dca-search-form-address
        #searchAddressForm
        class="map__localization__bar"></dca-search-form-address>
      <div class="map__localization__button" (click)="showSearchAddress()">
        recherche par ville
      </div>
    </div>
  </ng-template>
  <div class="map__button-geolocation">
    <span class="fa-stack fa-2x" (click)="goToHome()" aria-hidden="true">
      <i class="fa-solid fa-circle fa-stack-2x" style="color: #d9d9d9"></i>
      <i class="fa-solid fa-magnifying-glass fa-stack-1x"></i>
    </span>
  </div>
</div>
