#map {
  position: relative;
}

.service-box {
  position: absolute;
  right: 10rem;
  top: 4rem;
  z-index: 999;
}

.map {
  border-radius: 28px;
  &__top-icon {
    position: absolute;
    z-index: 9999;
    right: 2rem;
    top: 2rem;
    @media (min-width: 476px) {
      display: none;
    }
  }
  &__mean {
    position: absolute;
    z-index: 9999;
    padding: 1rem;
    @media (max-width: 992px) {
      top: 2rem;
      right: 2rem;
    }
  }

  &__button-geolocation {
    span {
      i:hover {
        color: #e7a016;
      }
    }
  }

  &__list-map {
    position: absolute;
    display: flex;
    cursor: pointer;
    margin-left: 2rem;
    background-color: transparent;
    flex-direction: column;
    gap: 0.5rem;
    top: 33%;
    z-index: 9999;
    dca-small-map {
      padding: 1rem;
      background-color: white;
      border-radius: 28px;
    }

    dca-small-map:hover {
      background-color: #e7a016;
    }
    @media (max-width: 992px) {
      justify-content: center;
      flex-direction: row;
      background-color: transparent;
      margin: auto;
      display: flex;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__localization {
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: center;

    &__button {
      background-color: white;
      padding: 1rem;
      border-radius: 18px;
      cursor: pointer;
      @media (max-width: 476px) {
        display: none;
      }
    }
    &__button:hover {
      background-color: var(--orange-base);
    }
    &__bar {
      display: block;
      padding-bottom: 1.25rem;
      @media (max-width: 476px) {
        display: none;
      }
    }
    @media (min-width: 768px) {
      top: 2rem;
      right: 2rem;
      padding: 2rem;
    }
    @media (max-width: 768px) {
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      align-items: center;
      padding: 2rem;
    }
  }
}
