.search__form {
  &__group {
    display: flex;
    width: max-content;
    gap: 3rem;
    padding: 0.5rem;
    flex-direction: column;
    &__input {
      position: relative;
      font-size: 1rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &__list-Selected-Items {
    display: flex;
    color: black;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 28px;
    height: 30vh;
    &__cell {
      padding: 4px 1rem;
      display: flex;
      align-items: center;
      background-color: white;
      font-size: 1.2rem;
      gap: 0.5rem;
      justify-content: space-between;
      cursor: pointer;
    }

    &__cell:first-child {
      border-top: 1px solid white;
    }
    &__cell:hover {
      background-color: orange;
      border: 2px solid orange;
      color: black;
    }
  }
}
