<div class="search__form__group">
  <input
    type="text"
    class="search__form__group__input"
    [placeholder]="placeholder | translate"
    [(ngModel)]="item"
    (ngModelChange)="getItems($event)" />
  <div (click)="allService()" class="search__form__group__button">
    <div class="search__form__group__button__text" *ngIf="!toggleService">
      tous les services
    </div>
    <div class="search__form__group__button__text" *ngIf="toggleService">
      effacer les services
    </div>
  </div>
</div>
<div class="search__form__list-Selected-Items" *ngIf="selectedItem.length > 0">
  <div
    *ngFor="let selected of selectedItem"
    class="search__form__list-Selected-Items__cell"
    (click)="selectService(selected)">
    {{ selected.name }}
    <i class="fa-solid fa-circle-plus"></i>
  </div>
</div>
